Gedcom.dtd

<!--ROOT-->
  <!ELEMENT root (head, (fam | indi)*, trlr)>


<!--HEAD-->
  <!ELEMENT head (#PCDATA)>

    

<!--FAM-->
  <!ELEMENT fam ( husb , wife , chil* , marr? , obje?) >
  <!ATTLIST fam id ID #REQUIRED>
 
  <!--HUSB-->
    <!ELEMENT husb EMPTY>
    <!ATTLIST husb idref IDREF #REQUIRED>
  
  <!--WIFE-->
    <!ELEMENT wife EMPTY>
    <!ATTLIST wife idref  IDREF #REQUIRED>
 
  <!--CHIL-->
    <!ELEMENT chil EMPTY>
    <!ATTLIST chil idref IDREF  #REQUIRED>
 
  <!--MARR-->
    <!ELEMENT marr (date,plac)>
    <!ELEMENT date (#PCDATA)>
    <!ELEMENT plac (#PCDATA)>
   
  <!--OBJE-->
    <!ELEMENT obje (file,titl)>
    <!ELEMENT file (#PCDATA | form)*>
    <!ELEMENT form (#PCDATA)>
    <!ELEMENT titl (#PCDATA)>



<!--INDI-->
  <!ELEMENT indi (name, title?, sex, birt?, deat?, famc?, fams?, obje?)>
  <!ATTLIST indi id ID #REQUIRED>

  <!--NAME-->
    <!ELEMENT name (#PCDATA)>

  <!--SEX-->
    <!ELEMENT sex (#PCDATA)>

  <!--BIRT-->
    <!ELEMENT birt (date,plac)>
    <!ELEMENT date (#PCDATA)>
    <!ELEMENT plac (#PCDATA)>

  <!--DEAT-->
    <!ELEMENT deat (date,plac)>
  
  <!--FAMC-->
    <!ELEMENT famc EMPTY>
    <!ATTLIST famc idref IDREF #REQUIRED>

 <!--FAMS-->
    <!ELEMENT fams EMPTY>
    <!ATTLIST fams idref IDREF #REQUIRED>




<!--TRLR-->
  <!ELEMENT trlr (#PCDATA)>
